{% extends 'main/index.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-5 col-md-5 col-sm-10">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-4 font-weight-normal">Сброс пароля</h4>
                        {% if messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form method="post" action="" class="form-floating">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}